.code {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  font-size: 130%;
  text-align: center;
  background-color: #FDD663;
  border: 1px dashed #E7CD80;
  border-radius: 3px;
  white-space: pre;

  span + span {
    margin-left: 10px;
  }

  fs-clipboard-button {
    margin-left: 12px;
  }
}