<form fsForm [submit]="save" *fsSkeletonForm="oneTimePassword">
  <fs-dialog>
    <h1 mat-dialog-title>{{oneTimePassword.id ? 'One Time Password' : 'Create One Time Password'}}</h1>
    <div mat-dialog-content>
      <ng-container *ngIf="!oneTimePassword.id">
        <fs-autocomplete
            [fetch]="accountsFetch"
            [displayWith]="accountDisplayWith"
            [(ngModel)]="account"
            [fetchOnFocus]="true"
            placeholder="Account"
            [required]="true"
            (ngModelChange)="oneTimePassword.accountId = $event?.id"
            name="account">
          <ng-template fsAutocompleteTemplate let-data="data">
            <span>{{ data.name }} ({{ data.email }})</span>
          </ng-template>
        </fs-autocomplete>
        
        <mat-form-field>
          <input
            matInput
            placeholder="Expiry Date"
            fsDatePicker
            [required]="true"
            [(ngModel)]="oneTimePassword.expiryDate"
            name="expiryDate">
        </mat-form-field> 
      </ng-container>
      <ng-container *ngIf="oneTimePassword.id">
        <p>The genereated one time password</p>

        <div class="password">
          <span *ngFor="let value of password">{{value}}</span>
        </div>
      </ng-container>
    </div>
    <div mat-dialog-actions>
      <ng-container *ngIf="!oneTimePassword.id">
        <button
            mat-button
            type="submit"
            color="primary">
          Create
        </button>
        <button
            mat-button
            type="button"
            [mat-dialog-close]="undefined">
          Cancel
        </button>
      </ng-container>
      
      <ng-container *ngIf="oneTimePassword.id">
        <button
            mat-button
            type="button"
            color="primary"
            [mat-dialog-close]="undefined">
          Close
        </button>
      </ng-container>
    </div>
  </fs-dialog>
</form>
