<fs-list [config]="listConfig">
  <fs-list-column title="Account">
    <ng-template fs-list-cell let-row="row">
      {{row.account?.name}}
      <div class="small">{{row.account?.email}}</div>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="state" title="Status" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      @if (row.state === OneTimePasswordState.Pending) {
        @if (row.expired) {
          Expired
        }
        @if (!row.expired) {
          {{OneTimePasswordStates[row.state]}}
          <div class="small">Expires {{row.expiryDate | fsDateFormat: 'date-time-yearless' }}</div>
        }
      } @else {
        {{OneTimePasswordStates[row.state]}}
        @if (row.state === OneTimePasswordState.Used) {
          <div class="small">Used on {{row.usedDate | fsDateFormat: 'date-time-yearless' }}</div>
        }
      }

    </ng-template>
  </fs-list-column>
  <fs-list-column name="create_date" title="Create" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      {{row.createDate | fsDateFormat: 'date-time-yearless' }}
    </ng-template>
  </fs-list-column>
</fs-list>
