<fs-list [config]="listConfig">
  <fs-list-column title="Account">
    <ng-template fs-list-cell let-row="row">
      {{row.account?.name}}
      <div class="small">{{row.account?.email}}</div>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="state" title="Status" [sortable]="true">
    <ng-template fs-list-cell let-row="row">     
     <ng-container *ngIf="row.state === OneTimePasswordState.Pending; else elsePending">
        <ng-container *ngIf="row.expired">
          Expired
        </ng-container>
        <ng-container *ngIf="!row.expired">
          {{OneTimePasswordStates[row.state]}}
          <div class="small">Expires {{row.expiryDate | fsDateFormat: 'date-time-yearless' }}</div>
        </ng-container>
     </ng-container>

     <ng-template #elsePending>
      {{OneTimePasswordStates[row.state]}}
      <ng-container *ngIf="row.state === OneTimePasswordState.Used">
          <div class="small">Used on {{row.usedDate | fsDateFormat: 'date-time-yearless' }}</div>
      </ng-container>     
    </ng-template>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="create_date" title="Create" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
     {{row.createDate | fsDateFormat: 'date-time-yearless' }}
    </ng-template>
  </fs-list-column>
</fs-list>
